<section id="sign-in" class="bg-primary dark">
	<div class="section-content">
		<h3><strong>Sign in to my newsletter!</strong></h3>
		<form action="http://suelo.us12.list-manage1.com/subscribe/post-json" id="sign-in-form" class="sign-in-form validate-form" method="POST">
			<div class="form-group input-wrapper">
				<input type="hidden" name="u" value="ed47dbfe167d906f2bc46a01b">
				<input type="hidden" name="id" value="24ac8a22ad">
				<input type="email"  name="MERGE0" size="25" value="" class="form-control input-lg" required>
				<span class="input-label">Your e-mail</span>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-push-3">
					<button type="submit" class="btn btn-submit btn-white"><span>Sign in!</span></button>
				</div>
			</div>
		</form>
	</div>
</section>