<div id="content" class="container">
		
  <div id="photo" class="slideRight">
      <img src="assets/img/avatars/avatar_copywriter.jpg" alt="">
  </div>

  <div id="sections-wrapper" class="slideLeft">

      <!-- Home Section -->
      <app-a-home-section></app-a-home-section>

      <!-- About Section -->
      <app-a-about-section></app-a-about-section>

      <!-- Skills Section -->
      <app-a-skills-section></app-a-skills-section>

      <!-- Services Section -->
      <app-a-services-section></app-a-services-section>

      <!-- Works Section -->
      <app-a-works-section></app-a-works-section>

      <!-- Experience Section -->
      <app-a-experience-section></app-a-experience-section>
      
      <!-- Experience Section -->
      <app-a-references-section></app-a-references-section>
      
      <!-- Posts Section -->
      <app-a-posts-section></app-a-posts-section>

      <!-- Contact Section -->
      <app-a-contact-section></app-a-contact-section>

      <!-- SignIn Section -->
      <app-a-signin-section></app-a-signin-section>



  </div>
</div>