
	<!-- Navigation Bar -->
	<div id="nav-bar" class="container">
		<nav>
			<ul id="nav-primary" class="nav nav-primary">
				<li class="icon-link"><a href="#home"><i class="fa fa-home"></i></a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#skills">Skills</a></li>
				<li><a href="#works">Works</a></li>
				<li><a href="#experience">Experience</a></li>
				<li><a href="#references">References</a></li>
				<li><a href="#latest-posts">Latest Posts</a></li>
				<li><a href="#contact">Contact</a></li>
				<li class="icon-link"><a href="#" class="panel-toggle" data-toggle="panel"><span><span></span></span></a></li>
			</ul>
		</nav>

		<div class="mobile-nav clearfix">
			<div class="owner">
				<img src="assets/img/avatars/avatar_architect_square_sm.jpg" alt="">
				<span class="name">Amur Dulaev</span>
			</div>
			<a href="#" class="panel-toggle" data-toggle="panel"><span><span></span></span></a>
		</div>
	</div>
