<section id="contact" class="bg-dark dark">
  <div class="section-content">
    <h3 class="halfy">Contact me</h3>
    <div class="row">
      <div class="col-sm-6">
        <!-- Icon Box -->
        <div class="icon-box icon-box-2">
          <span class="icon icon-sm icon-circle icon-primary"><i class="fa fa-map-marker"></i></span>
          <div class="icon-box-content">
            <h6 class="halfy">Address:</h6>
            <address class="text-md mb-0">
            Street #,<br>
            City,<br>
            Country
            </address>
          </div>
        </div>
        <!-- Icon Box -->
        <div class="icon-box icon-box-2">
          <span class="icon icon-sm icon-circle icon-primary"><i class="fa fa-envelope"></i></span>
          <div class="icon-box-content">
            <h6 class="halfy">E-mail:</h6>
            <a href="#" class="link-underline text-md">my@gmail.com</a>
          </div>
        </div>
        <!-- Icon Box -->
        <div class="icon-box icon-box-2">
          <span class="icon icon-sm icon-circle icon-primary"><i class="fa fa-phone"></i></span>
          <div class="icon-box-content">
            <h6 class="halfy">Phone:</h6>
            <a href="#" class="text-md">+7 (977) 777 77 77</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <form id="contact-form" class="contact-form validate-form">
          <div class="form-group input-wrapper">
            <input name="name" type="text" class="form-control" required>
            <span class="input-label">Name</span>
          </div>
          <div class="form-group input-wrapper">
            <input name="email" type="email" class="form-control" required>
            <span class="input-label">E-mail</span>
          </div>
          <div class="form-group input-wrapper">
            <textarea name="message" cols="30" rows="4" class="form-control"></textarea>
            <span class="input-label">Message</span>
            <span class="input-line"></span>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-push-2">
              <button type="submit" class="btn btn-submit"><span>Send message</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="google-map" class="h-300" data-latitude="55.755673" data-longitude="37.617183" data-style="dark"></div>
</section>
