<body class="bg-black ">

    <!-- BG Slideshow -->
    <div class="bg-body bg-slideshow">
        <div class="bg-image"><img src="assets/img/photos/bg_architect01.jpg" alt=""></div>
        <div class="bg-image"><img src="assets/img/photos/bg_architect02.jpg" alt=""></div>
        <div class="bg-image"><img src="assets/img/photos/bg_architect03.jpg" alt=""></div>
    </div>


    <!-- Header -->
    <header id="header" class="bg-dark">
        <app-a-header-top></app-a-header-top>
        <app-a-header></app-a-header>
    </header>

    <router-outlet></router-outlet>
    
    <!-- Sidenav Panel -->  
    <app-a-panel></app-a-panel>


    <app-a-footer></app-a-footer>

</body>
    

    

