<nav id="panel" class="bg-dark dark">
	<div class="panel-wrapper">
		<!-- Photo -->
		<div class="photo">
			<img src="assets/img/avatars/avatar_copywriter_square.jpg" alt="">
		</div>

		<!-- Menu -->
		<div class="menu widget">
			<h6>Navigation</h6>
			<ul id="nav-mobile" class="nav nav-panel">
				<li><a href="#home"><i class="ti-home"></i>Home</a></li>
				<li><a href="#about"><i class="ti-comment-alt"></i>About</a></li>
				<li><a href="#skills"><i class="ti-stats-up"></i>Skills</a></li>
				<li><a href="#works"><i class="ti-heart"></i>Works</a></li>
				<li><a href="#experience"><i class="ti-time"></i>Experience</a></li>
				<li><a href="#references"><i class="ti-file"></i>References</a></li>
				<li><a href="#latest-posts"><i class="ti-comments"></i>Latest Posts</a></li>
				<li><a href="#contact"><i class="ti-mobile"></i>Contact</a></li>
			</ul>
		</div>

		<!-- Latest Posts -->
		<div class="latest-posts widget">
			<h6>Latest Posts</h6>
			<ul class="list-posts">
				<li>
					<a href="#" class="post-image"><img src="assets/img/posts/post01.jpg" alt=""></a>
					<div class="post-content">
						<a href="#">Crazy developer ideas on 2016</a>
						<span class="date">February 14, 2015</span>
					</div>
				</li>
				<li>
					<div class="post-content">
						<a href="#">Crazy developer ideas on 2016</a>
						<span class="date">February 14, 2015</span>
					</div>
				</li>
				<li>
					<a href="#" class="post-image"><img src="assets/img/posts/post02.jpg" alt=""></a>
					<div class="post-content">
						<a href="#">Crazy developer ideas on 2016</a>
						<span class="date">February 14, 2015</span>
					</div>
				</li>
			</ul>
		</div>

		<!-- Contact -->
		<div class="latest-posts widget">
			<h6>Contact me</h6>
			<form id="contact-form-2" class="contact-form validate-form">
				<div class="form-group input-wrapper">
					<input type="text" class="form-control" required>
					<span class="input-label">Name</span>
				</div>
				<div class="form-group input-wrapper">
					<input type="email" class="form-control" required>
					<span class="input-label">E-mail</span>
				</div>
				<div class="form-group input-wrapper">
					<textarea name="message" cols="30" rows="4" class="form-control"></textarea>
					<span class="input-label">Message</span>
					<span class="input-line"></span>
				</div>
				<div class="row">
					<div class="col-sm-8 col-sm-push-2">
						<button type="submit" class="btn btn-submit"><span>Send message</span></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>